@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito-Bold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Nunito';
}

.header {
  display: flex;
  padding: 19px 165px;
  justify-content: space-between;
  align-items: center;
}

.logo-company {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  
}

.select-lang {
  min-height: 100%;
  padding: 11px 25px 11px 10px;
  border-radius: 10%;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  gap: 110px;
  padding: 50px 165px;
  justify-content: space-between;
  
}

.title {
  font-size: 42px;
}

.copy {
  font-size: 20px;
}

.image-block {
  display: flex;
  justify-content: center;

}

.image-block img {
  height: 100%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 2rem;
}

.nav-list-link {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.nav-list-link:hover {
  background: lightgray;
}


