.download__wrapper {
  display: flex;
  gap: 10%;
  padding: 3% 9%;
  align-items: center;
  
}

.download__title {
  font-size: 56px;
  line-height: auto;
}

.download__copy {
  font-size: 20px;
  line-height: 150%;
}

.download__text-block,
.download__image-block {
  flex: 1 1 45%;
}

.download__image-block {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.download__image-block img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

