.header {
  display: flex;
  padding: 3% 9%;
  align-items: center;
}

.logo-company {
  display: flex;
  margin-right: auto;
}

.select-lang {
  padding: 11px 25px 11px 10px;
  border-radius: 10%;
  margin-left: 3%;
  margin-right: 3%;
}

.nav {
  flex: 1;
  max-width: 45%;
  margin-left: 15%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 3%;
}

.nav-list-item {
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
}

.nav-list-item:hover {
  background: lightgray;
}
